@import "../Mixins/_Mixin.scss";

.NavigationList {
  @include flexWrap(row);
}

.NavigationListElement {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  border: 1px solid blue;
}
