.OpenToWorkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.OpenToWorkText {
    color: black;
    rotate:z -30deg;
}