@mixin flexWrap($direction: direction) {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: $direction;
}

@mixin gradientBackground($color1 , $color2, $color3) {
  background: linear-gradient(to right, $color1, $color2, $color3);
}